<section id="landing">
    <div>
        <div>DATA & AI</div>
        <h1>Engineered<br />Precision</h1>
        <p>
            Building rigorous, scalable systems and interfaces with mathematical
            precision and functional clarity.
        </p>
        <div>
            <a href="#projects">
                <button>VIEW PROJECTS</button>
            </a>
            <a href="mailto:{{ meta.contact_email }}">
                <button>CONTACT ME</button>
            </a>
        </div>
    </div>
    <div>
        <div>
            <img
                alt="Professional portrait"
                src="./img/marco_ramos_casual.JPG"
            />
        </div>
    </div>
</section>
